# Abhängigkeiten & Builds (nicht ins Repo)
node_modules/
release/
dist/
out/

# castLabs-Signier-Umgebung & temporäre Downloads
.evs/
castlabs.zip
*.zip

# Logs / Temp
*.log
npm-debug.log*
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
